# OS files
.DS_Store
Thumbs.db
*.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Packaging & Builds
*.zip
*.crx
dist/
build/

# Python cache (from our helper scripts)
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
